<section class="newTraining" fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">
      Time to start a workout
    </mat-card-title>
    <mat-card-content fxLayoutAlign="center">
        <mat-form-field>
          <mat-select placeholder="Trainings">
            <mat-option *ngFor="let exercise of exercises" [value]="exercise">
              {{exercise}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button type="submit" mat-button color="primary" (click)="onTrainingStart()"><b>START</b></button>
    </mat-card-actions>
  </mat-card>
</section>
