<mat-nav-list>
    <a mat-list-item routerLink="/signup" (click)="onItemClick()"> 
        <mat-icon>face</mat-icon>
        <span class="navCaption">Signup</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onItemClick()">
        <mat-icon>face</mat-icon>
        <span class="navCaption">Login</span>
    </a>
    <a mat-list-item routerLink="/training" (click)="onItemClick()">
        <mat-icon>fitness_center</mat-icon>
        <span class="navCaption">Training</span>
    </a>
    <mat-list-item>  
        <button mat-icon-button (click)="onItemClick()">
            <mat-icon>eject</mat-icon>
            <span class="navCaption">Logout</span>
        </button>
    </mat-list-item>
</mat-nav-list>
